*{
    margin: 0px;
    font-family:sans-serif
}
.first {
    background-color: #111010;
    
}

.nav-bar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    
}
.list{
    color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: large;
    text-decoration: underline;
    list-style: none;
}

ul li a {
    color:rgb(176, 176, 176);
}
ul li a:hover{
    color: #0c8bfd;
}





.login-button{
    background-color: #0c8bfd;
    border: 0px;
    height: 45px;
    width: 110px;
    border-radius: 18px;
    font-size: large;
    color: white;
}
.login-button:hover{
    background-color: black;
    border: 2px solid white;
    cursor:pointer;

}
.main{
    display: flex;
    justify-content: space-around;
    
    padding: 70px 0px 0px 0px;
    height: 850px;
    
}
.leftside h1 {
    color: white;
    font-size: 80px;
    width: 700px;
    padding-bottom: 40px;
}
.leftside p{
    color: rgb(176, 176, 176);
    font-size: 22px;
    width: 600px;
    line-height:27px;
    padding-bottom: 99px;
}

.rightside img {
    height: 700px;
    
}


.main-button{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}

.getst-button{
    background-color: #0c8bfd;
    color: white;
    height: 60px;
    width: 176px;
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
.tryst-button{
    background-color: black;
    color: white;
    height: 60px;
    width: 176px;
    border: 0px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;

}
.getst-button:hover{

    background-color: black;
    border: 2px solid white;
}
.tryst-button:hover{
    background-color: #0c8bfd;
    color: white;
   border: 0px;
}
.logo-bar{
    background-color: #1d1c1c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.service-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 120px 0px;
    
}
.service-ben{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.service-ben1 p{
    font-size: 21px;
    height: 60px;
    width: 300px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben2 p{
    font-size: 21px;
    height: 60px;
    width: 330px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben3 p{
    font-size: 21px;
    height: 60px;
    width: 330px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben1{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 200px black;
}
.service-ben2{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    position: relative;
    bottom: 50px;
}
.service-ben h3{
    font-size: 33px;
}

.service-ben3{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    padding-top: 50px;
    text-align: center;
}

.service-info h1 {
    font-size: 65px;
    text-align: center;
    letter-spacing: -1px;
}
.service-info > p{
    width: 600px;
    text-align: center;
    line-height: 25px;
    font-size: 21px;
    color: gray ;
}
.price-section {
    background-color:grey;
}
.inlineh3 {
margin: 0px auto;
color: white;
font-size: 80px;
width:1200px;
text-align: center;

}
.price-table{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.regular,.premium{
    width: 400px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    padding: 10px 5px;
}
.regular ,   h4{
    padding:20px 25px;
    font-size: 45px;
}
.regular ,   .price{
    font-size: 90px;
    padding: 10px 25px;
}
.regular , .descrip{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}
.price-button { 
    margin:10px 25px;
    height: 60px;
    width: 430px;
    background-color: #0c8bfd;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
}
.price-button:hover{
    border: #0c8bfd 2px solid;
    background-color: white;
    color: #0c8bfd;
    cursor: pointer;
}