*{
    margin: 0px;
    font-family:sans-serif
}
.first {
    background-color: #111010;
    
}

.nav-bar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    
}
.list{
    color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: large;
    text-decoration: underline;
    list-style: none;
}

ul li a {
    color:rgb(176, 176, 176);
}
ul li a:hover{
    color: #0c8bfd;
}





.login-button{
    background-color: #0c8bfd;
    border: 0px;
    height: 45px;
    width: 110px;
    border-radius: 18px;
    font-size: large;
    color: white;
}
.login-button:hover{
    background-color: black;
    border: 2px solid white;
    cursor:pointer;

}
.main{
    display: flex;
    justify-content: space-around;
    
    padding: 70px 0px 0px 0px;
    height: 850px;
    
}
.leftside h1 {
    color: white;
    font-size: 80px;
    width: 700px;
    padding-bottom: 40px;
}
.leftside p{
    color: rgb(176, 176, 176);
    font-size: 22px;
    width: 600px;
    line-height:27px;
    padding-bottom: 99px;
}

.rightside img {
    height: 700px;
    
}


.main-button{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}

.getst-button{
    background-color: #0c8bfd;
    color: white;
    height: 60px;
    width: 176px;
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
.tryst-button{
    background-color: black;
    color: white;
    height: 60px;
    width: 176px;
    border: 0px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;

}
.getst-button:hover{

    background-color: black;
    border: 2px solid white;
}
.tryst-button:hover{
    background-color: #0c8bfd;
    color: white;
   border: 0px;
}
.logo-bar{
    background-color: #1d1c1c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.service-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 120px 0px;
    
}
.service-ben{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.service-ben1 p{
    font-size: 21px;
    height: 60px;
    width: 300px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben2 p{
    font-size: 21px;
    height: 60px;
    width: 330px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben3 p{
    font-size: 21px;
    height: 60px;
    width: 330px;
    text-align:center ;
    color: gray;
    margin: 30px auto;
    
}
.service-ben1{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 200px black;
}
.service-ben2{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    position: relative;
    bottom: 50px;
}
.service-ben h3{
    font-size: 33px;
}

.service-ben3{
    border: 3px solid black;
    border-radius: 35px;
    height: 350px;
    width: 400px;
    padding-top: 50px;
    text-align: center;
}

.service-info h1 {
    font-size: 65px;
    text-align: center;
    letter-spacing: -1px;
}
.service-info > p{
    width: 600px;
    text-align: center;
    line-height: 25px;
    font-size: 21px;
    color: gray ;
}
.price-section {
    background-color:black;
    position: relative;
    padding: 50px;
}
.inlineh3 {
margin: 90px auto;
color: white;
font-size: 65px;
width:1000px;
text-align: center;
}

.left-arrow{

    position: absolute;
    top: 100px;
    right: 300px;
}
.right-arrow{
    position: absolute;
    top: 100px;
    left: 300px;
}

.price-table{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.regular,.premium{
    width: 400px;
    height: 750px;
    background-color: white;
    border-radius: 30px;
    padding: 10px 5px;
}
.standard{
    width: 400px;
    height: 750px;
    background-color:#0c8bfd;
    border-radius: 30px;
    padding: 10px 5px;
    color: white;
}
.regular h4,.standard h4,.premium h4{
    padding:20px 25px;
    font-size: 40px;
    font-weight: 700;
}
.price{
    font-size: 70px;
    padding: 10px 25px;
    font-weight: 550;
}
.descrip{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
}
.regular ul li,.standard ul li,.premium ul li{
    line-height: 50px;
    font-size: 23px;
    list-style-image: url(./image/blue-tick.svg);
}
.price-button { 
    margin:10px 25px;
    height: 60px;
    width: 360px;
    background-color: #0c8bfd;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    
}
.price-button:hover{
    border: #0c8bfd 2px solid;
    background-color: white;
    color: #0c8bfd;
    cursor: pointer;
}
.standard .price-button {
    border: 2px white solid;
    background-color: white;
    color: #0c8bfd;
}
.standard .price-button:hover{
    border: white 2px solid;
    background-color:#0c8bfd;
    color: white;
    cursor: pointer;
}
.footer{
    background-color: black;
    
}
.footer h3 {
    font-size:70px;
    
    text-align: center;
    margin: 10px auto;
    padding: 100px 0px;
    color: white;
}
.footer form {
    background-color: #292828;
    margin:0px auto;
    
    height:150px;
    width:70%;
    border-radius:30px;
}
.footer form input{
    background-color:#3e3d3d;
    height:70px;
    width:300px;
    border-radius:30px;
    border:none;
    margin: 40px 20px;
}
.footer form button{
    background-color: #0c8bfd;
    color: white;
    height: 60px;
    width: 176px;
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
.footer form input::placeholder{
    color: gray; 
    font-size:20px; 
    padding: 0px 20px;
    opacity: 0.8; 
}
.footer-info{
    margin: 10px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}